# API Keys for LLM services
# ----------------------

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# GigaChat Credentials
GIGACHAT_CREDENTIALS=your_gigachat_credentials_here
GIGACHAT_API_SCOPE=GIGACHAT_API_PERS

# Yandex GPT API Key
YANDEX_GPT_API_KEY=your_yandex_gpt_api_key_here
YANDEX_GPT_API_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion
YANDEX_FOLDER_ID=your_yandex_folder_id_here

GOOGLE_API_KEY=your_google_api_key_here

OPENROUTER_API_KEY=your_open_router_api_key_here

SBER_CLOUD_API_KEY=your_sber_cloud_api_key
